

{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}MyBlog{% endblock title %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

</head>
<body>

	<div class="container">
		<div class="row">

			<div class="sidebar col-xs-11 col-sm-11 col-md-3 col-lg-3">
				<h2>iChoose </h2>
					<p> <a href="{% url 'blog:post_list' %}">My Blog </a></p>
				</div>

			<div class="content text text-medium col-xs-12 col-sm-12 col-md-8 col-lg-8">
				{% block content %}
				
				{% endblock content %}
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
