

{% extends "blog/blog.html" %}

{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }} | Create
{% endblock title %}

{% block content %}
<br>
<br>
<br>
    <div class="content-section" style="width: 480px;">
	<h1>New Post</h1>
    <form method="POST"> {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit">Post</button>
        </div>
    </form>
    </div>

{% endblock content %}
