

{% extends "base.html" %}

{% block title %}
    {{ block.super }} | List
{% endblock title %}

{% block content %}
	<h1> My Blog </h1>
	{# <p> <a href="{% url 'blog:post_create' %}"> + New Post </a> </p> #}
	{% for post in posts  %}
		<h3>
			<a href="{{ post.get_absolute_url }}">
				{{ post.title }}
			</a>
		</h3>
		<p class="date">
			Published {{ post.publish }} by {{ post.author }}
		</p>
		{{ post.body|truncatewords:15|linebreaks }}
	{% endfor %}
	{% include "pagination.html" with page=page_obj %}
{% endblock content %}
