

{% extends "base_users.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} || login
{% endblock %}

{% block content_users %}
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                <br>
                <p>LOGIN</p>
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn login" type="submit"> login </button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            need an account? <a class="ml-2" href="{% url 'register' %}">
                sign up
            </a>
        </small>
    </div>
{% endblock content_users %}
