

{% extends "base_users.html" %}

{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} || Register
{% endblock %}

{% block content_users %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom">
                    Join Today
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn register" type="submit"> Sign-Up </button>

            <small class="text-muted">
                Already have an Account? <a class="ml-2" href="{% url 'login' %}">
                    Sign In
                </a>
            </small>
            </div>

        </form>
    </div>
{% endblock content_users %}
